<div class="login_form">


<h2>Załóż konto</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Hasło" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> znaków minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Potwierdzenie hasła" %><br />
    <%= f.password_field :password_confirmation,  autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Załóż konto" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
