<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.label :title, "Nazwa" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-inputs">
    <%= f.label :content, "Przepis" %><br>
    <%= f.text_area :content, class: "content" %>
  </div>

  <div class="form-inputs">
    <%= f.label :image, "Wklej adres zdjęcia"%>
    <%= f.text_field :image %>
  </div>

  <div class="form-inputs">
    <h4>Składniki</h4>
    <%= f.fields_for :recipe_ingredients do |builder| %>
      <%= render 'recipe_ingredient_fields', f: builder %>
    <% end %>
    <div>
      <%= link_to_add_object "Dodaj składnik", f, :recipe_ingredients, "add_fields" %>
      | <%= link_to "Stwórz składnik", new_ingredient_path, :target => '_blank' %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
