<div class="ingredient">
  <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, :allow_blank_option => false %>
  <%= f.number_field :quantity, :placeholder => "ilość" %>
  <%= f.text_field :unit, :placeholder => "jednostka miary", :class => "unit" %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Usuń składnik", "#", class: "remove_recipe_ingredients" %>
</div>
