<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
    <div class="recipe">
      <h2><%= link_to recipe.title, recipe %></h2>
      <%= image_tag recipe.image %>
      <div class="row">
        <div class="col-md-8">
          <h3>Przepis:</h3>
          <p>
            <%= recipe.content %>
          </p>
        </div>
        <div class="col-md-4">
          <h3>Składniki:</h3>
          <ul>
            <% recipe.recipe_ingredients.each do |ingredient| %>
              <li>
                <%= ingredient.ingredient.name %>
                <%= ingredient.quantity %>
                <%= ingredient.unit %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3> Komentarze </h3>
          <% recipe.comments.each do |comment| %>
            <div class="comment">
              <div class="comment_header">
                <span style="font-weight: bold"><%= comment.user.email %></span>
                <%= comment.created_at.strftime("%F") %>
                <% if user_signed_in? %>
                  <% if current_user == recipe.user || current_user.admin? %>
                    <%= link_to 'Usuń', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                <% end %>
              </div>
            <%= comment.content %>
            </div>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= form_for(@comment) do |f| %>
          <%= f.label :content, "Skomentuj" %> <br>
          <%= f.text_area :content %> <br> <br>
          <%= f.hidden_field :recipe_id, :value => recipe.id %>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

        <% if current_user == recipe.user || current_user.is_admin? %>
          <%= link_to 'Edytuj', edit_recipe_path(recipe) %> |
          <%= link_to 'Usuń', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>
<br>
