// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

body {
  margin-top: 51px;
  padding-top: 20px;
}

.login_form {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 1px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  input {
    &[type="email"] {
      width: 100%;
    }
    &[type="password"] {
      width: 100%;
    }
  }
}
.ingredient select {
  width: 150px;
}

.recipe {
  h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(179, 179, 179);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .content {
    width: 100%;
    height: 10em;
  }
  input {
    &[type=text] {
      @extend .form-control;
    }
    &[type=textarea] {
      @extend .form-control;
      width: 100%;
    }
    &[type=submit] {
      @extend .form-control;
    }
  }
  .unit {
      width: 150px !important;
      display: inline !important;
  }
  width: 800px;
  padding: 20px;
  padding-top: 1px;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;

  margin-bottom: 20px;
}

.pagination {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.comment {
  padding: 5px;
  border: 1px solid rgb(194, 194, 194);
  margin-bottom: 5px;
}

#comment_content {
  width: 100%;
}
