<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Drinki", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Dodaj przepis", new_recipe_path %></li>
        <% end %>
        <li><%= link_to "Kontakt", contact_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Zaloguj", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
