<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Drinks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <!-- <p class="notice"><%= notice %><%= alert %></p> -->
    <%= yield %>
  </div>
</body>
</html>
